In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from path import Path
from collections import Counter
import s3fs
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import pycountry

In [2]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [3]:
# Load the data
all_countries_df = pd.read_csv(Path("Resources/all_countries.csv"), index_col=0)
all_countries_df

     Country  Year  GDP_per_capita  Population  Metric_Tons
0    Albania  2017    12770.963867   2884169.0      16481.0
1    Albania  2018    13317.092773   2882735.0      18094.0
2    Albania  2019    13656.592773   2880913.0      18500.0
3    Albania  2020    13191.952148   2877800.0      20157.0
4    Algeria  2017    11737.401367  41389174.0     153459.0
..       ...   ...             ...         ...          ...
491  Uruguay  2020    21608.429688   3473727.0     110834.0
492  Vanuatu  2017     3081.835205    285499.0        868.0
493  Vanuatu  2018     3093.461426    292675.0        841.0
494  Vanuatu  2019     3137.240967    299882.0        997.0
495  Vanuatu  2020     2854.292480    307150.0        975.0

[492 rows x 5 columns]

In [4]:
all_countries_df.sort_values('GDP_per_capita', ascending=False)

        Country  Year  GDP_per_capita  Population  Metric_Tons
380       Qatar  2017    91738.750000   2724727.0        793.0
381       Qatar  2018    90970.062500   2781682.0        832.0
227     Ireland  2020    90789.218750   4937796.0        556.0
382       Qatar  2019    89966.453125   2832071.0        868.0
226     Ireland  2019    86650.007812   4882498.0        508.0
..          ...   ...             ...         ...          ...
315  Mozambique  2020     1229.940308  31255435.0      73396.0
430     Somalia  2019     1186.450928  15442906.0       2371.0
431     Somalia  2020     1180.965942  15893219.0       2151.0
429     Somalia  2018     1129.531494  15008225.0       2136.0
428     Somalia  2017     1079.112427  14589165.0       2064.0

[492 rows x 5 columns]

In [5]:
all_countries_bins_df = all_countries_df.copy(deep=True)

In [8]:
# Same labels as yours
labels = ['0- 12535', '12535+']

# Define the edges between bins
bins = [0, 12535, np.inf]

# pd.cut each column, with each bin closed on left and open on right
res = all_countries_bins_df.apply(lambda x: pd.cut(x, bins=bins, labels=labels, right=False))

# rename columns and print result
res.columns = [f'new{i+1}' for i in range(df.shape[1])]

print(res)
# all_countries_bins_df

TypeError: '<' not supported between instances of 'float' and 'str'

In [6]:
# # Put all GDP per capita values in income bins
# bins = [0, 12535]
# labels = ['low_income']
# all_countries_bins_df['GDP_per_capita'] = pd.cut(x = all_countries_bins_df['GDP_per_capita'], bins = bins, labels = labels)
# all_countries_bins_df

     Country  Year GDP_per_capita  Population  Metric_Tons
0    Albania  2017            NaN   2884169.0      16481.0
1    Albania  2018            NaN   2882735.0      18094.0
2    Albania  2019            NaN   2880913.0      18500.0
3    Albania  2020            NaN   2877800.0      20157.0
4    Algeria  2017     low_income  41389174.0     153459.0
..       ...   ...            ...         ...          ...
491  Uruguay  2020            NaN   3473727.0     110834.0
492  Vanuatu  2017     low_income    285499.0        868.0
493  Vanuatu  2018     low_income    292675.0        841.0
494  Vanuatu  2019     low_income    299882.0        997.0
495  Vanuatu  2020     low_income    307150.0        975.0

[492 rows x 5 columns]