In [1]:
import pandas as pd

In [2]:
# 1. Create a DataFrame for plastic waste mismangement. 
plastic_waste_df = pd.read_csv("Resources/plastic_waste_mismanaged.csv")
plastic_waste_df.head()

,Entity,Code,Year,Mismanaged plastic waste (metric tons year-1)
0,Africa,NaN,2019,13690104
1,Albania,ALB,2019,69833
2,Algeria,DZA,2019,764578
3,Angola,AGO,2019,236946
4,Antigua and Barbuda,ATG,2019,627

In [3]:
# 2. Check the datatypes of your columns. 
plastic_waste_df.dtypes

Entity                                           object
Code                                             object
Year                                              int64
Mismanaged plastic waste (metric tons year-1)     int64
dtype: object

In [4]:
#Get the columns and rows that are not null
plastic_waste_df.count()

Entity                                           171
Code                                             160
Year                                             171
Mismanaged plastic waste (metric tons year-1)    171
dtype: int64

In [5]:
#Determine if there any missing values
plastic_waste_df.isnull().sum()

Entity                                            0
Code                                             11
Year                                              0
Mismanaged plastic waste (metric tons year-1)     0
dtype: int64

In [6]:

plastic_waste_df.head()

,Entity,Code,Year,Mismanaged plastic waste (metric tons year-1)
0,Africa,NaN,2019,13690104
1,Albania,ALB,2019,69833
2,Algeria,DZA,2019,764578
3,Angola,AGO,2019,236946
4,Antigua and Barbuda,ATG,2019,627

In [7]:
#Rename Columns
plastic_waste_df.rename(columns={"Entity":"Country", "Mismanaged plastic waste (metric tons year-1)": "PlasticWaste(metric tons)"}, inplace =True)
plastic_waste_df.head()

               Country Code  Year  PlasticWaste(metric tons)
0               Africa  NaN  2019                   13690104
1              Albania  ALB  2019                      69833
2              Algeria  DZA  2019                     764578
3               Angola  AGO  2019                     236946
4  Antigua and Barbuda  ATG  2019                        627

In [8]:
# Export dataframe as a new CSV file
plastic_waste_df.to_csv("Resources/Plastic_waste_mismanagement_clean.csv", index=False)