In [1]:
import pandas as pd

In [2]:
# 1. Create a DataFrame for plastic waste mismangement. 
plastic_waste_df = pd.read_csv("Resources/plastic_waste_mismanaged.csv")
plastic_waste_df.head()

,Entity,Code,Year,Mismanaged plastic waste (metric tons year-1)
0,Africa,NaN,2019,13690104
1,Albania,ALB,2019,69833
2,Algeria,DZA,2019,764578
3,Angola,AGO,2019,236946
4,Antigua and Barbuda,ATG,2019,627

In [3]:
# 2. Check the datatypes of your columns. 
plastic_waste_df.dtypes

Entity                                           object
Code                                             object
Year                                              int64
Mismanaged plastic waste (metric tons year-1)     int64
dtype: object

In [4]:
# Drop the null columns where all values are null
plastic_waste_df = plastic_waste_df.dropna(axis='columns', how='all')

# Drop the null rows
plastic_waste_df = plastic_waste_df.dropna()

plastic_waste_df.head()

,Entity,Code,Year,Mismanaged plastic waste (metric tons year-1)
1,Albania,ALB,2019,69833
2,Algeria,DZA,2019,764578
3,Angola,AGO,2019,236946
4,Antigua and Barbuda,ATG,2019,627
5,Argentina,ARG,2019,465808