In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [2]:
pd.read_csv('./Resources/Plastic_in_Beach_Tonnes.csv', header=3)

,INDICATOR NAME (unit),COUNTRY NAME,YEAR,VALUE
0,Beach litter originating from national land-ba...,Albania,2017,16481.0
1,Beach litter originating from national land-ba...,Albania,2018,18094.0
2,Beach litter originating from national land-ba...,Albania,2019,18500.0
3,Beach litter originating from national land-ba...,Albania,2020,20157.0
4,Beach litter originating from national land-ba...,Albania,2021,19828.0
...,...,...,...,...
695,Beach litter originating from national land-ba...,Yemen,2017,30194.0
696,Beach litter originating from national land-ba...,Yemen,2018,34205.0
697,Beach litter originating from national land-ba...,Yemen,2019,35625.0
698,Beach litter originating from national land-ba...,Yemen,2020,36032.0
699,Beach litter originating from national land-ba...,Yemen,2021,36954.0

In [3]:
plastic_load = os.path.join('.','Resources', 'Plastic_in_Beach_Tonnes.csv')
plastic_load

'.\\Resources\\Plastic_in_Beach_Tonnes.csv'

In [4]:
plastic_df = pd.read_csv(plastic_load, header=3)
plastic_df

,INDICATOR NAME (unit),COUNTRY NAME,YEAR,VALUE
0,Beach litter originating from national land-ba...,Albania,2017,16481.0
1,Beach litter originating from national land-ba...,Albania,2018,18094.0
2,Beach litter originating from national land-ba...,Albania,2019,18500.0
3,Beach litter originating from national land-ba...,Albania,2020,20157.0
4,Beach litter originating from national land-ba...,Albania,2021,19828.0
...,...,...,...,...
695,Beach litter originating from national land-ba...,Yemen,2017,30194.0
696,Beach litter originating from national land-ba...,Yemen,2018,34205.0
697,Beach litter originating from national land-ba...,Yemen,2019,35625.0
698,Beach litter originating from national land-ba...,Yemen,2020,36032.0
699,Beach litter originating from national land-ba...,Yemen,2021,36954.0

In [5]:
pbt_df = plastic_df.drop(columns=['INDICATOR NAME (unit)'])
pbt_df

    COUNTRY NAME  YEAR    VALUE
0        Albania  2017  16481.0
1        Albania  2018  18094.0
2        Albania  2019  18500.0
3        Albania  2020  20157.0
4        Albania  2021  19828.0
..           ...   ...      ...
695        Yemen  2017  30194.0
696        Yemen  2018  34205.0
697        Yemen  2019  35625.0
698        Yemen  2020  36032.0
699        Yemen  2021  36954.0

[700 rows x 3 columns]

In [6]:
pbt_df.count()

COUNTRY NAME    700
YEAR            700
VALUE           700
dtype: int64

In [7]:
pbt_df.dtypes

COUNTRY NAME     object
YEAR              int64
VALUE           float64
dtype: object

In [8]:
# What countries are in the data?
countries_included = pbt_df["COUNTRY NAME"].unique()
countries_included

array(['Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina',
       'Australia', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belgium', 'Belize', 'Benin', 'Brazil', 'Brunei Darussalam',
       'Bulgaria', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cyprus',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Fiji',
       'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Iceland', 'India',
       'Indonesia', 'Iran (Islamic Republic of)', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Kenya', 'Kiribati', 'Kuwait',
       'Latvia', 'Lebanon', 'Liberia', 'Libya', 'Lithuania', 'Madagascar',
       'Malaysia', 'Maldives', 'Malta', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Romania', 'Russian Federation', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Seychelles',
       'Sierra Leone', 'Solomon Islands', 'Somalia', 'South Africa',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Syrian Arab Republic', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Vanuatu', 'Venezuela (Bolivarian Republic of)',
       'Viet Nam', 'Yemen'], dtype=object)

In [9]:
# How many countries are in the data?
n = len(pd.unique(pbt_df['COUNTRY NAME']))
print("No.of.unique values :", 
      n)

No.of.unique values : 140

In [10]:
# what is the span of years?
years_included = pbt_df["YEAR"].unique()
years_included

array([2017, 2018, 2019, 2020, 2021], dtype=int64)