In [1]:
import pandas as pd

In [2]:
# 1. Create a DataFrame for plastic waste mismangement per capita vs GDP. 
PC_VS_GDP_df = pd.read_csv("Resources/Raw_Data/per-capita-plastic-waste-vs-gdp-per-capita.csv")
PC_VS_GDP_df.head()

,Entity,Code,Year,Per capita plastic waste (kg/person/day),"GDP per capita, PPP (constant 2011 international $)","Total population (Gapminder, HYDE & UN)",Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,2002,NaN,1063.635574,22601000.0,NaN
2,Afghanistan,AFG,2003,NaN,1099.194507,23681000.0,NaN
3,Afghanistan,AFG,2004,NaN,1062.249360,24727000.0,NaN
4,Afghanistan,AFG,2005,NaN,1136.123214,25654000.0,NaN

In [3]:
# 2. Check the datatypes of your columns. 
PC_VS_GDP_df.dtypes

Entity                                                  object
Code                                                    object
Year                                                     int64
Per capita plastic waste (kg/person/day)               float64
GDP per capita, PPP (constant 2011 international $)    float64
Total population (Gapminder, HYDE & UN)                float64
Continent                                               object
dtype: object

In [4]:
#Get the columns and rows that are not null
PC_VS_GDP_df.count()

Entity                                                 48168
Code                                                   46154
Year                                                   48168
Per capita plastic waste (kg/person/day)                 186
GDP per capita, PPP (constant 2011 international $)     6407
Total population (Gapminder, HYDE & UN)                46883
Continent                                                285
dtype: int64

In [5]:
#Rename Columns
PC_VS_GDP_df.rename(columns={"Entity":"Country", "Per capita plastic waste (kg/person/day)": "Per_capita_plastic_waste", "GDP per capita, PPP (constant 2011 international $)": "GDP_per_capita","Total population (Gapminder, HYDE & UN)": "Total_population"}, inplace =True)
PC_VS_GDP_df.head()

,Country,Code,Year,Per_capita_plastic_waste,GDP_per_capita,Total_population,Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,2002,NaN,1063.635574,22601000.0,NaN
2,Afghanistan,AFG,2003,NaN,1099.194507,23681000.0,NaN
3,Afghanistan,AFG,2004,NaN,1062.249360,24727000.0,NaN
4,Afghanistan,AFG,2005,NaN,1136.123214,25654000.0,NaN

In [6]:
# Drop 
PC_VS_GDP_df.drop(["Per_capita_plastic_waste","Continent"], axis=1, inplace=True)
PC_VS_GDP_df.head()

       Country      Code  Year  GDP_per_capita  Total_population
0     Abkhazia  OWID_ABK  2015             NaN               NaN
1  Afghanistan       AFG  2002     1063.635574        22601000.0
2  Afghanistan       AFG  2003     1099.194507        23681000.0
3  Afghanistan       AFG  2004     1062.249360        24727000.0
4  Afghanistan       AFG  2005     1136.123214        25654000.0

In [7]:
# Set null values to zero for GDP & Total pop
PC_VS_GDP_df["GDP_per_capita"] = PC_VS_GDP_df["GDP_per_capita"].fillna(0)
PC_VS_GDP_df["Total_population"] = PC_VS_GDP_df["Total_population"].fillna(0)
PC_VS_GDP_df.head(20)

        Country      Code  Year  GDP_per_capita  Total_population
0      Abkhazia  OWID_ABK  2015        0.000000               0.0
1   Afghanistan       AFG  2002     1063.635574        22601000.0
2   Afghanistan       AFG  2003     1099.194507        23681000.0
3   Afghanistan       AFG  2004     1062.249360        24727000.0
4   Afghanistan       AFG  2005     1136.123214        25654000.0
5   Afghanistan       AFG  2006     1161.124889        26433000.0
6   Afghanistan       AFG  2007     1284.775213        27101000.0
7   Afghanistan       AFG  2008     1298.143159        27722000.0
8   Afghanistan       AFG  2009     1531.173993        28395000.0
9   Afghanistan       AFG  2010     1614.255001        29186000.0
10  Afghanistan       AFG  2011     1660.739856        30117000.0
11  Afghanistan       AFG  2012     1839.273579        31161000.0
12  Afghanistan       AFG  2013     1848.700026        32270000.0
13  Afghanistan       AFG  2014     1838.960244        33371000.0
14  Afghanistan       AFG  2015     1809.016488        34414000.0
15  Afghanistan       AFG  2016     1802.695565        35383000.0
16  Afghanistan       AFG  2017     1803.987487        36296000.0
17  Afghanistan       AFG  1800        0.000000         3280000.0
18  Afghanistan       AFG  1801        0.000000         3280000.0
19  Afghanistan       AFG  1802        0.000000         3280000.0

In [8]:
#Format columns 
PC_VS_GDP_df["GDP_per_capita"]= PC_VS_GDP_df["GDP_per_capita"].map("{:,.2f}".format)
PC_VS_GDP_df["Total_population"]= PC_VS_GDP_df["Total_population"].map("{:,.2f}".format)
PC_VS_GDP_df.head()

       Country      Code  Year GDP_per_capita Total_population
0     Abkhazia  OWID_ABK  2015           0.00             0.00
1  Afghanistan       AFG  2002       1,063.64    22,601,000.00
2  Afghanistan       AFG  2003       1,099.19    23,681,000.00
3  Afghanistan       AFG  2004       1,062.25    24,727,000.00
4  Afghanistan       AFG  2005       1,136.12    25,654,000.00

In [10]:
print(f'dataset has {PC_VS_GDP_df.shape[0]} rows and {PC_VS_GDP_df.shape[1]} columns.')

dataset has 48168 rows and 5 columns.

In [11]:
# Export dataframe as a new CSV file
PC_VS_GDP_df.to_csv("Resources/Clean_Data/GDP_pc_total_pop_clean.csv", index=False)